# =============================================================================
# Secrets
# =============================================================================
.env
.db.env
infisical-auth
**/.env
**/.db.env

# =============================================================================
# Firefly
# =============================================================================
firefly/db/
firefly/mysql/
firefly/upload/
logs/**
logs/
# =============================================================================
# Foundry
# =============================================================================
foundry/data/

# =============================================================================
# NPM
# =============================================================================
npm/data/
npm/letsencrypt/

# =============================================================================
# Plex stack
# =============================================================================
plex/plex/
plex/overseer/
plex/tautulli/
plex/.env

# =============================================================================
# Servarr stack
# =============================================================================
servarr/prowlarr/
servarr/sonarr/
servarr/radarr/
servarr/lidarr/
servarr/bazarr/
servarr/qbittorrent/
servarr/nzbget/
servarr/gluetun/
servarr/.env.save
# =============================================================================
# Immich stack
# =============================================================================
immich/data
# =============================================================================
# Nextcloud stack
# =============================================================================
nextcloud/data
# =============================================================================
# Calibre stack
# =============================================================================
calibre/calibre
calibre/calibre-web
