# =============================================================================
# Secrets
# =============================================================================
.env
.db.env

# =============================================================================
# Firefly
# =============================================================================
firefly/db/
firefly/mysql/
firefly/upload/

# =============================================================================
# Foundry
# =============================================================================
foundry/data/

# =============================================================================
# NPM
# =============================================================================
npm/data/
npm/letsencrypt/

# =============================================================================
# Plex stack
# =============================================================================
plex/plex/
plex/overseer/
plex/tautulli/

# =============================================================================
# Servarr stack
# =============================================================================
servarr/prowlarr/
servarr/sonarr/
servarr/radarr/
servarr/lidarr/
servarr/bazarr/
servarr/qbittorrent/
servarr/nzbget/
servarr/gluetun/
servarr/.env.save
