TZ=America/Chicago
PUID=1000
PGID=1000
VPN_SERVICE_PROVIDER=airvpn
VPN_TYPE=wireguard
FIREWALL_VPN_INPUT_PORTS=your-vpn-forwarded-port
WIREGUARD_PUBLIC_KEY=your-wireguard-public-key
WIREGUARD_PRIVATE_KEY=your-wireguard-private-key
WIREGUARD_PRESHARED_KEY=your-wireguard-preshared-key
WIREGUARD_ADDRESSES=your-wireguard-address
SERVER_COUNTRIES=Canada
SERVER_CITIES=Vancouver
HEALTH_VPN_DURATION_INITIAL=120s
