FOUNDRY_USERNAME=your-foundryvtt-username
FOUNDRY_PASSWORD=your-foundryvtt-password
FOUNDRY_ADMIN_KEY=your-admin-access-key
FOUNDRY_PROXY_SSL=true
FOUNDRY_PROXY_PORT=443
FOUNDRY_HOSTNAME=foundry.your-domain.com
